body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.left-section {
  background-color: #101010;
  width: 50%;
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.left-section h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.left-section h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.left-section .social-icons {
  display: flex;
  gap: 20px;
}

.left-section .social-icons a {
  text-decoration: none;
  color: #333;
  font-size: 1.5em;
}

.right-section {
  background-color: black;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.right-section img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar .contact-button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
      flex-direction: column;
  }

  .left-section, .right-section {
      width: 100%;
  }

  .left-section {
      padding: 30px;
  }

  .navbar {
      position: static;
      padding: 20px;
      justify-content: center;
  }
}